<% provide(:title, 'Home') %>
  
<!-- コンテンツ グレー背景ここから -->
  <div class="content_g clearfix">
  <div class="content_gArea">
  <div class="row">
   
   <div class="col-xs-7 col-sm-7 col-md-6">
    <div class="main">
      <h2>Origami is a traditional art from Japan.</h2>

      <p>It is a traditional paper craft.<br />
      It is one of <span class="red bold">the traditional children game</span> in Japan.</p>

      <p>We use <span class="red bold">paper squares</span> to make origami. <br />
      You repeat the folding of paper and shape it <br />
      in various forms. </p>
      
      <p>You can create various forms such as animals, <br />
      boxes, etc…</p>
    
    </div>
   </div>
   
   <div class="col-xs-7 col-sm-7 col-md-6"> 
    <div class="side">
      <img src="assets/pict1.jpg" width="350" height="350" alt=“test” title=“test”>
    </div>
   </div>
   
  </div>
  </div>
  </div>
  <!-- コンテンツここまで -->

  <!-- コンテンツここから -->
  <div class="content clearfix">
  <div class="contentArea">
  <div class="row">

   <div class="col-xs-7 col-sm-7 col-md-6">  
    <div class="side">
      <img src="assets/pict2.jpg" width="350" height="350" alt=“test” title=“test”>
    </div>
   </div>
   
   <div class="col-xs-7 col-sm-7 col-md-6">
    <div class="main">
      <h2>Origami is the work of art.</h2>

      <p>Origami has existed since a long time ago, <br />
      and it was not only a game for children.</p>

      <p>And now, it has become <span class="red bold">art</span> <br />
      that is well-known all over the world.</p>
    </div>
   </div>
   
  </div>
  </div>
  </div>
  <!-- コンテンツここまで -->
