<% provide(:title, 'Map') %>

<!-- コンテンツ グレー背景ここから -->
  <div class="content_g clearfix">
  <div class="content_gArea">
  <div class="row">

   <div class="col-xs-7 col-sm-7 col-md-6">      
    <div class="main">
      <h2>Information of Origami' Workshop Location</h2>

      <p>Location: <span class="red bold">The terras of 8th floor,</span><br />
      <span class="red bold">Asakusa Culture Tourist Information Center</span><br />
      Address: <span class="red bold">2-18-9 Kaminarimon, Taito-ku, Tokyo, Japan</span></p>
      <p>The building is close to the Kaminarimon in Asakusa.<br />
      Japanese Name of the building is "ASAKUSA BUNKA KANKOU CENTER".<p>
      <p>場所: 浅草文化観光センター 8F 展望テラス<br />
      住所: 〒111-0034 東京都台東区雷門2-18-9</p>
    </div>
   </div>
   
   <div class="col-xs-7 col-sm-7 col-md-6">
    <div class="side">
      <img src="assets/map.jpg" width="450" height="450" alt=“test” title=“test”>
    </div>
   </div>

  </div>
  </div>
  </div>
  <!-- コンテンツここまで -->

  <!-- コンテンツここから -->
  <div class="content clearfix">
  <div class="contentArea">
  <div class="row">

   <div class="col-xs-7 col-sm-7 col-md-6">
    <div class="side">
      <img src="assets/mark.jpg" width="400" height="400" alt=“test” title=“test”>
    </div>
   </div>
      
   <div class="col-xs-7 col-sm-7 col-md-6">
    <div class="main">
      <h2>Building exterior<br />
      "ASAKUSA BUNKA KANKOU CENTER"</h2>
    </div>
   </div>
   
  </div>
  </div>
  </div>
  <!-- コンテンツここまで -->

