<% provide(:title, 'Services') %>

<!-- コンテンツ グレー背景ここから -->
  <div class="content_g clearfix">
  <div class="content_gArea">
  <div class="row">
      
   <div class="col-xs-7 col-sm-7 col-md-6">
    <div class="main">
      <h2>Origami's Work #01 -Shuriken-</h2>

      <p><span class="red bold">Shuriken</span> is Japanese Dart.<br />

      <p>¥xxx</p>
    </div>
   </div>  
  
   <div class="col-xs-7 col-sm-7 col-md-6">
    <div class="side">
      <img src="assets/Origami_01.jpg" width="400" height="400" alt=“test” title=“test”>
    </div>
   </div>

  </div>
  </div>
  </div>
  <!-- コンテンツここまで -->

  <!-- コンテンツここから -->
  <div class="content clearfix">
  <div class="contentArea">
  <div class="row">

   <div class="col-xs-7 col-sm-7 col-md-6">
    <div class="side">
      <img src="assets/Origami_02.jpg" width="400" height="400" alt=“test” title=“test”>
    </div>
   </div>
      
   <div class="col-xs-7 col-sm-7 col-md-6">
    <div class="main">
      <h2>Sale of Origami's Works</h2>

      <p>As a memorial visited Japan,<br />
         we are selling the origami work of  <span class="red bold">dodecahedron</span>. <br />
         Please refer to the left of the photo.</p>

      <p>¥x,xxx</p>
    </div>
   </div> 
   
  </div>
  </div>
  </div>
  <!-- コンテンツここまで -->