<footer class="footer">
  <small>
    <a href="http://railstutorial.jp/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
     <li><%= link_to "Home",     root_path     %></li>
     <li><%= link_to "Services", services_path %></li>
     <li><%= link_to "Map",      map_path      %></li>
    </ul>
  </nav>
</footer>