<footer class="footer">

    <small id="footer_copy">Copyright (C) 2015 Jissen School #03.
    All Rights Reserved.</small>  

  <nav>
    <ul>
     <li><%= link_to "Home",     root_path     %></li>
     <li><%= link_to "Services", services_path %></li>
     <li><%= link_to "Map",      map_path      %></li>
    </ul>
  </nav>
</footer>