<main_panel class="center jumbotron">

  <div id="main_panel">
  <div id="main_panelArea">

   <h1>Origami's Workshop</h1>

    <p>We offer the service <br />
    to spread the good tradition of Japan.</p>

  <%= link_to "Details", services_path, class: "btn btn-lg btn-success" %>
  
  </div>
  </div>
  
  <div id="designer">
    the illustration by freevectorsdaily
  </div>
  
</main_panel>